.App {
  text-align: center;

}
body{
  overflow: hidden;
}
.title{
  font-family: 'PixelFont', monospace;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

/* iframe{
  margin-bottom: 200px;
} */

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.saveButton {
  background-color: #f3f7fe;
  color: #4986e9;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 92px;
  height: 35px;
  transition: 0.3s;
}

.saveButton:hover {
  background-color: #2cc06a;
  box-shadow: 0 0 0 5px #3b83f65f;
  color: #fff;
}


iframe{
  margin-bottom:100px;
}
